/* glue: 0.13 hash: 8d7a020c93 */
        .sprite_05-cake_tick,
.sprite_05-cake_run_out,
.sprite_05-cake_plus,
.sprite_05-bbq_and_cake_tick,
.sprite_05-bbq_and_cake_run_out,
.sprite_05-bbq_and_cake_plus,
.sprite_05-bbq_and_cake,
.sprite_05-vego,
.sprite_05-tick,
.sprite_05-run_out,
.sprite_05-red_cross_of_shame,
.sprite_05-plus,
.sprite_05-halal,
.sprite_05-coffee,
.sprite_05-cake,
.sprite_05-bbq_tick,
.sprite_05-bbq_run_out,
.sprite_05-bbq_plus,
.sprite_05-bbq,
.sprite_05-bacon_and_eggs,
.sprite_05-unknown {
            background-image: url('sprite@0.5_8d7a020c93.png');
            background-repeat: no-repeat;
        }
        
        .sprite_05-cake_tick {
            background-position: -1px -1px;
            width: 40px;
            height: 37px;
        }
        
        .sprite_05-cake_run_out {
            background-position: -43px -1px;
            width: 40px;
            height: 37px;
        }
        
        .sprite_05-cake_plus {
            background-position: -1px -40px;
            width: 40px;
            height: 37px;
        }
        
        .sprite_05-bbq_and_cake_tick {
            background-position: -43px -40px;
            width: 40px;
            height: 35px;
        }
        
        .sprite_05-bbq_and_cake_run_out {
            background-position: -85px -1px;
            width: 40px;
            height: 35px;
        }
        
        .sprite_05-bbq_and_cake_plus {
            background-position: -85px -38px;
            width: 40px;
            height: 35px;
        }
        
        .sprite_05-bbq_and_cake {
            background-position: -1px -79px;
            width: 40px;
            height: 35px;
        }
        
        .sprite_05-vego {
            background-position: -43px -79px;
            width: 32px;
            height: 32px;
        }
        
        .sprite_05-tick {
            background-position: -77px -79px;
            width: 32px;
            height: 32px;
        }
        
        .sprite_05-run_out {
            background-position: -127px -1px;
            width: 32px;
            height: 32px;
        }
        
        .sprite_05-red_cross_of_shame {
            background-position: -127px -35px;
            width: 32px;
            height: 32px;
        }
        
        .sprite_05-plus {
            background-position: -127px -69px;
            width: 32px;
            height: 32px;
        }
        
        .sprite_05-halal {
            background-position: -1px -116px;
            width: 32px;
            height: 32px;
        }
        
        .sprite_05-coffee {
            background-position: -35px -116px;
            width: 28px;
            height: 32px;
        }
        
        .sprite_05-cake {
            background-position: -65px -116px;
            width: 30px;
            height: 32px;
        }
        
        .sprite_05-bbq_tick {
            background-position: -97px -116px;
            width: 32px;
            height: 30px;
        }
        
        .sprite_05-bbq_run_out {
            background-position: -161px -1px;
            width: 32px;
            height: 30px;
        }
        
        .sprite_05-bbq_plus {
            background-position: -161px -33px;
            width: 32px;
            height: 30px;
        }
        
        .sprite_05-bbq {
            background-position: -161px -65px;
            width: 32px;
            height: 30px;
        }
        
        .sprite_05-bacon_and_eggs {
            background-position: -161px -97px;
            width: 32px;
            height: 32px;
        }
        
        .sprite_05-unknown {
            background-position: -161px -131px;
            width: 7px;
            height: 7px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .sprite_05-cake_tick,
    .sprite_05-cake_run_out,
    .sprite_05-cake_plus,
    .sprite_05-bbq_and_cake_tick,
    .sprite_05-bbq_and_cake_run_out,
    .sprite_05-bbq_and_cake_plus,
    .sprite_05-bbq_and_cake,
    .sprite_05-vego,
    .sprite_05-tick,
    .sprite_05-run_out,
    .sprite_05-red_cross_of_shame,
    .sprite_05-plus,
    .sprite_05-halal,
    .sprite_05-coffee,
    .sprite_05-cake,
    .sprite_05-bbq_tick,
    .sprite_05-bbq_run_out,
    .sprite_05-bbq_plus,
    .sprite_05-bbq,
    .sprite_05-bacon_and_eggs,
    .sprite_05-unknown {
                background-image: url('sprite@0.5_8d7a020c93.png');
                -webkit-background-size: 194px 149px;
                -moz-background-size: 194px 149px;
                background-size: 194px 149px;
            }
        }
        