/.vscode
/admin/.env
/public/.env
/php/secrets.php
/php/elections/*.geojson
/php/client_secrets.inc
/php/sausage_secrets.inc
/php/google-api-php-client-*
/php/v3-test/*
/php/carto-dump/*
*.sqlite3*
/python/*
/db/*.sqlite3
/db/carto-dump/*
/google-api-php-client-2.2.0/*