.DS_Store
*.code-workspace
/v3-test/*
build/
secrets/
keys/
dev-certs/
db-pg/data*/
logs/
*.pyc
initial-data/emails.csv
TODO*.md
REDESIGN.md
COFFEE THOUGHTS.md
WSL.md
redis/*
demsausage-logs-federal-2022/
db-a-logs-federal-election-2022/
.dccache
.iac-data/

frontend/