README.dev.md
/.vscode
/admin/.env
/public/.env
secrets.php
/php/elections/*.geojson
/php/client_secrets.php
/php/google-api-php-client-*
/php/v3-test/*
/php/carto-dump/*
/php/fix-old-election-has-other.php
*.sqlite3*
/python/*
/db/*.sqlite3
/db/carto-dump/*
/db/csv/*
/google-api-php-client-2.2.0/*
/sentry-php/
/v3-test/*
flatfilebaby/
secret.txt
demsausage-dev-deps-20181125\.zip
build/
secrets/
keys/
db-pg/data/
initial-data/
*.pyc