# export required so they're available to Travis-CI during build
export CI=false
export REACT_APP_GOOGLE_MAPS_API_KEY=
export REACT_APP_GOOGLE_ANALYTICS_UA=
export REACT_APP_MAPBOX_API_KEY=
export REACT_APP_MAPBOX_API_KEY_DEV=
export REACT_APP_MAPBOX_API_KEY_PROD=
export REACT_APP_RAVEN_URL=