Django==2.1.5
psycopg2-binary==2.7.6.1
djangorestframework==3.9.0
django-cors-headers==2.4.0
django-model-utils==3.1.2
social-auth-app-django==3.1.0
social-auth-core==2.0.0
raven==6.10.0
django-simple-history==2.7.0
jsonschema==2.6.0
python-memcached==1.59
djangorestframework-gis==0.14
django-filter==2.1.0
djangorestframework-csv==2.1.0