Django==2.2.1
psycopg2-binary==2.8.2
djangorestframework==3.9.3
django-cors-headers==2.5.3
django-model-utils==3.1.2
googlemaps==3.0.2
gunicorn==19.9.0
gevent==1.4.0
greenlet==0.4.15
social-auth-app-django==3.1.0
social-auth-core==3.1.0
sentry-sdk==0.7.14
django-simple-history==2.7.2
jsonschema==3.0.1
pylibmc==1.6.0
djangorestframework-gis==0.14
django-filter==2.1.0
djangorestframework-csv==2.1.0
requests==2.21.0
chardet==3.0.4
django-rest-swagger==2.2.0
