@import url("https://fonts.googleapis.com/css?family=Roboto");

html,
body,
#root {
    height: 100%;
}

.page {
    display: flex;
    height: 100%;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.page-header,
.page-footer {
    flex: none;
}

.page-content {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.page-nav {
    background-color: white;
    z-index: 1400;
    height: 100vh;
    width: 70%;
}

.openlayers-map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100% !important;
    height: 100% !important;
    min-width: auto !important;
}
