@import url("https://fonts.googleapis.com/css?family=Roboto");

html,
body,
#root,
.page {
    height: 100%; /* needed for proper layout */
    font-family: "Roboto", sans-serif;
}

.page {
    overflow: hidden;
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.page-content {
    flex: 1; /* this is the key; consumes all available height */
}

.page-nav {
    background-color: white;
    z-index: 1400;
}

.openlayers-map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100% !important;
    height: 100% !important;
}
