@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

html,
body,
#root,
.page {
    height: 100%;
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
}

.page-content {
    margin-top: 60px; /* Height of ResponsiveAppBar + 10px */
    margin-bottom: 66px; /* Height of BottomNav + 10px */
}

.page-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 10;
}

.openlayers-map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100% !important;
    height: 100% !important;
    min-width: auto !important;
}
