name: Production CI/CD

on:
  # push:
  #   branches: [production]
  pull_request:
    branches: [production]
    types: [closed]

env:
  LATEST_IMAGE_TAG: latest-production

jobs:
  build-public-redesign:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '23.x'

      # We need ALL .env files to exist to be able to use docker compose
      - name: Setup Env Vars
        run: |
          mkdir secrets
          mkdir secrets/prod/
          mkdir secrets/dev/
          echo "${{secrets.SAUSAGE_PUBLIC_REDESIGN_FRONTEND_PRODUCTION_ENV }}" > secrets/prod/sausage-public-redesign-frontend.production.env
          touch secrets/prod/sausage-web.production.env
          touch secrets/dev/sausage-web-db.dev.env
          touch secrets/prod/sausage-admin-redesign-frontend.production.env

      - name: Public Redesign Frontend - Build
        run: docker compose --file build_production.yml run public_redesign

      - name: Upload artifact for container build jobs
        uses: actions/upload-artifact@v4
        with:
          name: build-public-redesign
          path: ./build/public-redesign.tgz

  build-admin-redesign:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '23.x'

      # We need ALL .env files to exist to be able to use docker compose
      - name: Setup Env Vars
        run: |
          mkdir secrets
          mkdir secrets/prod/
          mkdir secrets/dev/
          echo "${{secrets.SAUSAGE_ADMIN_REDESIGN_FRONTEND_PRODUCTION_ENV }}" > secrets/prod/sausage-admin-redesign-frontend.production.env
          touch secrets/prod/sausage-web.production.env
          touch secrets/dev/sausage-web-db.dev.env
          touch secrets/prod/sausage-public-redesign-frontend.production.env

      - name: Admin Redesign Frontend - Build
        run: docker compose --file build_production.yml run admin_redesign

      - name: Upload artifact for container build jobs
        uses: actions/upload-artifact@v4
        with:
          name: build-admin-redesign
          path: ./build/admin-redesign.tgz

  build-django-static:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '23.x'

      # We need ALL .env files to exist to be able to use docker compose
      - name: Setup Env Vars
        run: |
          mkdir secrets
          mkdir secrets/prod/
          mkdir secrets/dev/
          echo "${{secrets.SAUSAGE_WEB_PRODUCTION_ENV }}" > secrets/prod/sausage-web.production.env
          echo "${{secrets.SAUSAGE_WEB_DB_DEV_ENV }}" > secrets/dev/sausage-web-db.dev.env
          touch secrets/prod/sausage-public-redesign-frontend.production.env
          touch secrets/prod/sausage-admin-redesign-frontend.production.env

      - name: Django - Build
        run: docker compose --file build_production.yml run django

      - name: Upload artifact for container build jobs
        uses: actions/upload-artifact@v4
        with:
          name: build-django
          path: ./build/django.tgz

  build-django:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Containers - Build Django
        run: docker build -t keithmoss/demsausage-django:production-$GITHUB_SHA -t keithmoss/demsausage-django:${{ env.LATEST_IMAGE_TAG }} .
        working-directory: django

      - name: Containers - Push to Docker Hub
        run: |
          docker push keithmoss/demsausage-django --all-tags

  build-rq-dashboard:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Containers - Build RQ Dashboard
        run: docker build -t keithmoss/demsausage-rq-dashboard:production-$GITHUB_SHA -t keithmoss/demsausage-rq-dashboard:${{ env.LATEST_IMAGE_TAG }} .
        working-directory: rq-dashboard

      - name: Containers - Push to Docker Hub
        run: |
          docker push keithmoss/demsausage-rq-dashboard --all-tags
