name: Staging CI/CD

on:
  push:
    branches: [staging]
  pull_request:
    branches: [staging]
    types: [closed]

env:
  LATEST_IMAGE_TAG: latest-staging

jobs:
  build-public-redesign:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '23.x'

      # We need ALL .env files to exist to be able to use docker compose
      - name: Setup Env Vars
        run: |
          mkdir secrets
          mkdir secrets/staging/
          mkdir secrets/dev/
          echo "${{secrets.SAUSAGE_PUBLIC_REDESIGN_FRONTEND_STAGING_ENV }}" > secrets/staging/sausage-public-redesign-frontend.staging.env
          touch secrets/staging/sausage-web.staging.env
          touch secrets/dev/sausage-web-db.dev.env
          touch secrets/staging/sausage-admin-redesign-frontend.staging.env

      - name: Build - Prep
        run: |
          mkdir ./build
          mkdir ./nginx-prod/build

      # - name: Setup Debug Session
      #   uses: csexton/debugger-action@master

      - name: Public Redesign Frontend - Build
        run: docker compose --file build_staging.yml run public_redesign

      - name: Upload artifact for container build jobs
        uses: actions/upload-artifact@v4
        with:
          name: build-public-redesign
          path: ./nginx-prod/build/public-redesign.tgz

  build-admin-redesign:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '23.x'

      # We need ALL .env files to exist to be able to use docker compose
      - name: Setup Env Vars
        run: |
          mkdir secrets
          mkdir secrets/staging/
          mkdir secrets/dev/
          echo "${{secrets.SAUSAGE_ADMIN_REDESIGN_FRONTEND_STAGING_ENV }}" > secrets/staging/sausage-admin-redesign-frontend.staging.env
          touch secrets/staging/sausage-web.staging.env
          touch secrets/dev/sausage-web-db.dev.env
          touch secrets/staging/sausage-public-redesign-frontend.staging.env

      - name: Build - Prep
        run: |
          mkdir ./build
          mkdir ./nginx-prod/build

      - name: Admin Redesign Frontend - Build
        run: docker compose --file build_staging.yml run admin_redesign

      - name: Upload artifact for container build jobs
        uses: actions/upload-artifact@v4
        with:
          name: build-admin-redesign
          path: ./nginx-prod/build/admin-redesign.tgz

  build-django-static:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '23.x'

      # We need ALL .env files to exist to be able to use docker compose
      - name: Setup Env Vars
        run: |
          mkdir secrets
          mkdir secrets/staging/
          mkdir secrets/dev/
          echo "${{secrets.SAUSAGE_WEB_STAGING_ENV }}" > secrets/staging/sausage-web.staging.env
          echo "${{secrets.SAUSAGE_WEB_DB_DEV_ENV }}" > secrets/dev/sausage-web-db.dev.env
          touch secrets/staging/sausage-public-redesign-frontend.staging.env
          touch secrets/staging/sausage-admin-redesign-frontend.staging.env

      - name: Build - Prep
        run: |
          mkdir ./build
          mkdir ./nginx-prod/build

      - name: Django - Build
        run: docker compose --file build_staging.yml run django

      - name: Upload artifact for container build jobs
        uses: actions/upload-artifact@v4
        with:
          name: build-django
          path: ./nginx-prod/build/django.tgz

  build-nginx:
    runs-on: ubuntu-latest
    needs: [build-public-redesign, build-admin-redesign, build-django-static]
    steps:
      - uses: actions/checkout@v4
      - name: Multi-arch setup & login
        uses: ./.github/actions/setup-multiarch
        with:
          login: 'true'
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build - Prep
        run: |
          mkdir ./build
          mkdir ./nginx-prod/build

      - name: Download artifacts for container building
        uses: actions/download-artifact@v4
        with:
          path: ./build/

      - name: Move artifacts
        run: |
          cp -r ./public-legacy/staging/ ./nginx-prod/build/public-legacy/
          cp -r ./admin-legacy/staging/ ./nginx-prod/build/admin-legacy/
          mv ./build/build-public-redesign/public-redesign.tgz ./nginx-prod/build/public-redesign.tgz
          mv ./build/build-admin-redesign/admin-redesign.tgz ./nginx-prod/build/admin-redesign.tgz
          mv ./build/build-django/django.tgz ./nginx-prod/build/django.tgz

      - name: Containers - Build and Push Nginx (multi-arch)
        uses: docker/build-push-action@v5
        with:
          context: ./nginx-prod
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            keithmoss/demsausage-nginx:staging-${{ github.sha }}
            keithmoss/demsausage-nginx:${{ env.LATEST_IMAGE_TAG }}
          cache-from: type=gha,scope=demsausage-nginx-staging
          cache-to: type=gha,mode=max,scope=demsausage-nginx-staging

  build-django:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Multi-arch setup & login
        uses: ./.github/actions/setup-multiarch
        with:
          login: 'true'
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Containers - Build and Push Django (multi-arch)
        uses: docker/build-push-action@v5
        with:
          context: ./django
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            keithmoss/demsausage-django:staging-${{ github.sha }}
            keithmoss/demsausage-django:${{ env.LATEST_IMAGE_TAG }}
          cache-from: type=gha,scope=demsausage-django-staging
          cache-to: type=gha,mode=max,scope=demsausage-django-staging

  build-rq-dashboard:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Multi-arch setup & login
        uses: ./.github/actions/setup-multiarch
        with:
          login: 'true'
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Containers - Build and Push RQ Dashboard (multi-arch)
        uses: docker/build-push-action@v5
        with:
          context: ./rq-dashboard
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            keithmoss/demsausage-rq-dashboard:staging-${{ github.sha }}
            keithmoss/demsausage-rq-dashboard:${{ env.LATEST_IMAGE_TAG }}
          cache-from: type=gha,scope=demsausage-rq-dashboard-staging
          cache-to: type=gha,mode=max,scope=demsausage-rq-dashboard-staging

  deploy-app:
    runs-on: ubuntu-latest
    needs: [build-nginx, build-django, build-rq-dashboard]
    steps:
      - name: Deploy to Digital Ocean droplet via SSH action
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.SSH_STAGING_HOST }}
          username: ${{ secrets.SSH_STAGING_USERNAME }}
          key: ${{ secrets.SSH_STAGING_KEY }}
          passphrase: ${{ secrets.SSH_STAGING_KEY_PASSPHRASE }}
          script: |
            cd /apps/digitalocean-stack/
            ./demsausage-staging-redeploy.sh
