name: Staging CI/CD

on:
  push:
    branches: [staging]
  pull_request:
    branches: [staging]
    types: [closed]

env:
  LATEST_IMAGE_TAG: latest-staging

jobs:
  build-public-redesign:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '23.x'

      # We need ALL .env files to exist to be able to use docker compose
      - name: Setup Env Vars
        run: |
          mkdir secrets
          mkdir secrets/staging/
          mkdir secrets/dev/
          echo "${{secrets.SAUSAGE_PUBLIC_REDESIGN_FRONTEND_STAGING_ENV }}" > secrets/staging/sausage-public-redesign-frontend.staging.env
          touch secrets/staging/sausage-web.staging.env
          touch secrets/dev/sausage-web-db.dev.env
          touch secrets/staging/sausage-admin-redesign-frontend.staging.env

      - name: Public Redesign Frontend - Build
        run: docker compose --file build_staging.yml run public_redesign

      - name: Upload artifact for container build jobs
        uses: actions/upload-artifact@v4
        with:
          name: build-public-redesign
          path: ./build/public-redesign.tgz

  build-admin-redesign:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '23.x'

      # We need ALL .env files to exist to be able to use docker compose
      - name: Setup Env Vars
        run: |
          mkdir secrets
          mkdir secrets/staging/
          mkdir secrets/dev/
          echo "${{secrets.SAUSAGE_ADMIN_REDESIGN_FRONTEND_STAGING_ENV }}" > secrets/staging/sausage-admin-redesign-frontend.staging.env
          touch secrets/staging/sausage-web.staging.env
          touch secrets/dev/sausage-web-db.dev.env
          touch secrets/staging/sausage-public-redesign-frontend.staging.env

      - name: Admin Redesign Frontend - Build
        run: docker compose --file build_staging.yml run admin_redesign

      - name: Upload artifact for container build jobs
        uses: actions/upload-artifact@v4
        with:
          name: build-admin-redesign
          path: ./build/admin-redesign.tgz

  build-django-static:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '23.x'

      # We need ALL .env files to exist to be able to use docker compose
      - name: Setup Env Vars
        run: |
          mkdir secrets
          mkdir secrets/staging/
          mkdir secrets/dev/
          echo "${{secrets.SAUSAGE_WEB_STAGING_ENV }}" > secrets/staging/sausage-web.staging.env
          echo "${{secrets.SAUSAGE_WEB_DB_DEV_ENV }}" > secrets/dev/sausage-web-db.dev.env
          touch secrets/staging/sausage-public-redesign-frontend.staging.env
          touch secrets/staging/sausage-admin-redesign-frontend.staging.env

      - name: Django - Build
        run: docker compose --file build_staging.yml run django

      - name: Upload artifact for container build jobs
        uses: actions/upload-artifact@v4
        with:
          name: build-django
          path: ./build/django.tgz

  build-django:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Multi-arch setup & login
        uses: ./.github/actions/setup-multiarch
        with:
          login: 'true'
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Containers - Build and Push Django (multi-arch)
        uses: docker/build-push-action@v5
        with:
          context: ./django
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            keithmoss/demsausage-django:staging-${{ github.sha }}
            keithmoss/demsausage-django:${{ env.LATEST_IMAGE_TAG }}
          cache-from: type=gha,scope=demsausage-django-staging
          cache-to: type=gha,mode=max,scope=demsausage-django-staging

  build-rq-dashboard:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Multi-arch setup & login
        uses: ./.github/actions/setup-multiarch
        with:
          login: 'true'
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Containers - Build and Push RQ Dashboard (multi-arch)
        uses: docker/build-push-action@v5
        with:
          context: ./rq-dashboard
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            keithmoss/demsausage-rq-dashboard:staging-${{ github.sha }}
            keithmoss/demsausage-rq-dashboard:${{ env.LATEST_IMAGE_TAG }}
          cache-from: type=gha,scope=demsausage-rq-dashboard-staging
          cache-to: type=gha,mode=max,scope=demsausage-rq-dashboard-staging